
  /* Experience,Formation and Hobbie and taskbar Page COMPUTER  */
  body {
    margin: 0;
  }
  .onlyComputer {
    display: block;
  }
  .onlyMobile {
    display: none;
  }
  .taskbar {
    position: fixed;
    bottom: 0;
    background: linear-gradient(
      180deg,
      #0997ff,
      #0053ee 8%,
      #0050ee 40%,
      #06f 88%,
      #06f 93%,
      #005bff 95%,
      #003dd7 96%,
      #003dd7
    );
    width: 100vw;
    height: 3rem;
  }

  .taskbar__start {
    padding-right: 4rem;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
    border: none;
    border-radius: 0px 10px 12px 0px;
    box-shadow: 0px 5px 10px #79ce71 inset;
    background: radial-gradient(circle, #5eac56 0%, #3c873c 100%) center/cover
      no-repeat;
    display: flex;
    align-items: center;
  }
  .projects__start {
    padding-right: 7rem;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
    border: none;
    box-shadow: 0px 5px 10px #4375e0 inset;
    background: radial-gradient(circle, #1c3abd 0%, #0b07f7 100%) center/cover
      no-repeat;
    display: flex;
    align-items: center;
    margin-left: 12rem;
    margin-top: -3rem;
  }
  .opinion__start {
    padding-right: 7rem;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
    border: none;
    box-shadow: 0px 5px 10px #4375e0 inset;
    background: radial-gradient(circle, #1c3abd 0%, #0b07f7 100%) center/cover
      no-repeat;
    display: flex;
    align-items: center;
    margin-left: 30rem;
    margin-top: -3rem;
  }
  .who__start {
    padding-right: 7rem;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
    border: none;
    box-shadow: 0px 5px 10px #4375e0 inset;
    background: radial-gradient(circle, #1c3abd 0%, #0b07f7 100%) center/cover
      no-repeat;
    display: flex;
    align-items: center;
    margin-left: 44rem;
    margin-top: -3rem;
  }
  .skill__start {
    padding-right: 7rem;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
    border: none;
    box-shadow: 0px 5px 10px #4375e0 inset;
    background: radial-gradient(circle, #1c3abd 0%, #0b07f7 100%) center/cover
      no-repeat;
    display: flex;
    align-items: center;
    margin-left: 62rem;
    margin-top: -3rem;
  }
  .taskbar__start--logo {
    width: auto;
    height: 80%;
  }
  .projects__start--logo {
    width: auto;
    height: 80%;
    padding-right: 3rem;
  }
  .opinion__start--logo {
    width: auto;
    height: 80%;
    padding-right: 3rem;
  }
  .who__start--logo {
    width: auto;
    height: 80%;
    padding-right: 3rem;
  }
  .skill__start--logo {
    width: auto;
    height: 80%;
    padding-right: 3rem;
  }
  #timeComputer {
    color: white !important;
    font-size: 2.5rem !important;
    margin-top: -2.5rem !important;
    margin-left: 112rem !important;
  }
  .logo__start {
    margin-left: 105rem;
    margin-top: -2.8rem;
    background-color: #03a9f4;
  }
  .github__start,
  .mail__start,
  .linkedin__start {
    height: 2.5rem;
    width: auto;
  }
  a {
    color: white;
  }
  .ac {
    background: #03a9f4;
  }
  .formation,
  .experience {
    margin-top: 2rem !important;
    padding-top: 0.8rem;
  }
  .bar {
    background-color: #121cde;
    height: 3rem;
    margin-top: -2rem;
  }
  .sideList {
    background-color: #8080806b;
    width: 24rem;
    margin-top: 5rem;
    margin-left: 2rem;
    font-size: 2rem;
  }
  li {
    font-size: 2.5rem !important;
    padding-bottom: 2rem !important;
  }
  .star {
    height: 5rem;
    margin-top: 2rem;
  }
  .starName {
    width: 15rem;
    margin-left: 6rem;
    margin-top: -4.6rem;
    padding-bottom: 2rem;
  }
  .b {
    color: black;
  }
  .sideList__ul > li {
    margin-left: 4rem;
  }
  .content {
    background-color: #efefef;
    width: 47rem;
    margin-left: 32rem;
    margin-top: -27rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
  }
  .content_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .content_li > img {
    height: 7rem;
  }
  /* Home Page COMPUTER */
  .home {
    background-image: url("../src/fond-d-ecran-windows.jpg") !important;
    background-size: cover !important;
  }
  .home_container {
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    grid-template-rows: repeat(3, 21rem);
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
  }

  .home_projects > img {
    height: 8rem;
    margin-top: 3rem;
    margin-bottom: -1rem;
  }
  .home_opinion > img {
    height: 8rem;
    margin-top: 3rem;
    margin-bottom: -1rem;
  }
  .home_who > img {
    height: 8rem;
    margin-top: 3rem;
    margin-bottom: -1rem;
  }
  .home_skill > img {
    height: 8rem;
    margin-top: 3rem;
    margin-bottom: -1rem;
  }
  .home_container > a {
    color: black;
  }

  /* locked Page COMPUTER */
  .log {
    background-image: url("../src/login-screen-windows.jpg") !important;
    background-size: 88rem !important;
    background-position-y: -9rem;
  }
  .goToHome {
    height: 11rem;
    width: 38rem;
    margin-top: 18rem;
    background-color: #5a7edc;
    margin-left: 46rem;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
  }
  /* Opinion Page COMPUTER */
  .wo {
    background-image: url("src/word-page.jpg");
    background-size: cover;
    overflow: hidden;
  }
  .opinionDiv {
    height: 34rem;
    width: 74rem;
    background-color: white;
    margin-left: 6rem;
    margin-top: 9.5rem;
    overflow-y: scroll;
  }
  .avisDiv {
    width: 35rem;
  }
  .opinion {
    font-size: 2rem !important;
  }
  .form_avis {
    width: 35rem;
    margin-left: 42rem;
    margin-top: -15rem;
    position: absolute;
  }
  .form_avis > input {
    margin-left: 11rem;
    height: 1.2rem;
    margin-bottom: 0.5rem;
    width: 8rem;
  }
  .form_avis > input::placeholder {
    font-size: 1.3rem;
    text-align: center;
  }
  .submitInput {
    font-size: 1.3rem;
    padding-bottom: 1.2rem;
  }
  /* Profil Page COMPUTER */
  .profil_logo {
    width: 52rem;
    height: 25rem;
    margin-top: -28rem;
    margin-left: 31rem;
    display: grid;

    grid-template-columns: repeat(5, 8rem);
    grid-template-rows: repeat(3, 8rem);
    grid-column-gap: 3.5rem;
  }
  .logo_prof {
    height: 8rem;
    margin-top: 3rem;
    margin-bottom: -1rem;
  }
  .prof_name {
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
  }
  .profil_formation {
    grid-area: 1 / 1 / 2 / 2;
  }
  .profil_exp {
    grid-area: 1 / 2 / 2 / 3;
  }
  .profil_hobbie {
    grid-area: 1 / 3 / 2 / 4;
  }
  /* Project Page COMPUTER */
  .proj_edge {
    background-image: url("../src/fond-d-ecran-edge.jpg");
    background-size: cover;
    background-position-y: -7rem;
  }

  .name {
    text-align: center !important;
    color: white !important;
  }
  .search_bar {
    text-align: center;
  }
  .search{
    background-color: white!important;
  }
  .loupe {
    margin-left: 70rem;
  }
  .proj_logo {
    height: 8rem;
    margin-top: 13rem;
    margin-left: 3rem;
  }
  .texts {
    font-size: 1.5rem!important;
    text-align: inherit!important;
    margin-left: 5.5rem!important;
  }
  .proj_list {
    list-style-type: none;
    display: inline-flex;
  }
  .li_cont > img {
    height: 5rem;
  }
