@media (min-width: 426px) {
  /* Experience,Formation and Hobbie Page TABLET  */
  .datetime {
    margin-top: 50px;
    margin-left: 47rem;
  }
  .onlyTablet {
    display: block;
    margin-top: -3rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .name {
    margin-top: 5rem !important;
    font-size: 3rem;
  }
  .formation,
  .experience,
  .hobbie {
    font-size: 2rem;
  }
  .hobbie {
    margin-left: 2rem;
    margin-top: 5rem;
  }
  .hrFormation,
  .hrExperience,
  .hrHobbie {
    margin-left: 2rem;
  }
  li {
    font-size: 1.5rem;
  }
  .hobbieImg {
    height: 9rem!important;
    margin-left: 3rem!important;
  }
  .hobbieName {
    margin-left: 12rem!important;
    margin-top: 2rem!important;
    font-size: 3rem!important;
  }
}
